.navbar {
  opacity: 0.7; }
  .navbar .navbar-brand {
    color: black; }
  .navbar .nav-link {
    color: darkblue;
    font-size: 20px;
    font-family: serif;
    margin-right: 20px; }

.carousel-item {
  height: 500px; }

.carousel-img-1 {
  background-image: url("../img/first.jpg");
  background-size: cover; }

.carousel-img-2 {
  background-image: url("../img/second.jpg");
  background-size: cover; }

.carousel-img-3 {
  background-image: url("../img/third.jpg");
  background-size: cover; }

#home-icon .fas {
  font-size: 45px;
  color: green; }

#get-start {
  position: relative;
  height: 450px;
  background-image: url("../img/four.jpg");
  background-size: cover;
  background-attachment: fixed; }
  #get-start .dark-overlay {
    position: absolute;
    background-color: black;
    height: 450px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6; }

#video-section {
  position: relative;
  height: 450px;
  background-image: url("../img/six.jpg");
  background-size: cover;
  background-attachment: fixed; }
  #video-section .dark-overlay {
    position: absolute;
    background-color: black;
    height: 450px;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.6; }
  #video-section .far {
    font-size: 45px;
    color: red;
    margin-top: 75px; }

#aboutUs {
  height: 400px;
  background-image: url("../img/first.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#aboutInfo .fas {
  font-size: 70px; }

#aboutInfo .fab {
  font-size: 70px; }

#secrvices-section {
  height: 400px;
  background-image: url("../img/image6.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#image-section {
  height: 400px;
  background-image: url("../img/five.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#blog-section .img-1 {
  height: 200px;
  background-image: url("../img/image2.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

#blog-section .img-2 {
  height: 200px;
  background-image: url("../img/image5.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

#blog-section .img-3 {
  height: 200px;
  background-image: url("../img/image6.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }

#img {
  height: 400px;
  background-image: url("../img/image4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#contactUs {
  background: #4b4b4b; }
  #contactUs h4 {
    margin-bottom: 25px;
    color: white; }
  #contactUs .form-control {
    display: block;
    width: 100%; }
  #contactUs .body-1 {
    background-color: #33d9b2; }
  #contactUs .get-touse {
    background-color: #33d9b2;
    color: white; }
    #contactUs .get-touse h3 {
      color: white; }
